ul {
	display: inline-block;
	float: none;
	vertical-align: top;
	text-align: center;
	font-size: 25px;
}

ul li a {
	padding-top: 0;
	color: black;
}

.img_logo {
	height: 170px;
	margin: 0px;
	padding:0px;
}

body {
	background: url(../images/omf_field1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron {
	background-color: rgba(240,240,240,.7);
	padding: 0;
}

.welcome {
	display: inline-block;
	color: black;
	background-color: rgba(240,240,240,.85);
	padding: 10px;
	border-radius: 5px;
	font-style: italic;
}

.welcomediv {
	padding-left: 0px;
}

.member-name {
	color: black;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
}

.panel {
	background-color: rgba(240,240,240,.85);
}

.menu_pic {
	width: 100px;
	border-radius: 50%;
	display: inline-block;
	margin: 10px;
}

.thumbnail img {
	margin: 0px;
}

.menu_item{
	height: 150px;
	padding: 15px;
}

.menu_link{
	font-size: 30px;
	margin-left: 10px;
}

.tblhead{
	display: inline-block;
}

.ordhead{
	text-decoration: underline;
}

.headdata{
	font-size: 20px;
	margin-left: 15px;
}

.invtblheader{
	text-decoration: underline;
}

#show_act_inv, #show_deac_inv{
	font-size: 18px;
	color: #337ab7;
	text-decoration: underline;
	font-style: italic;
}

#show_act_inv:hover, #show_deac_inv:hover{
	font-size: 20px;
}







